*,
*::after,
*::before {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #121212;
}

input {
    height: 3.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font: 22px 'Euclid Circular A Medium';
    color: #ffffff;
    background-color: #141414;
    border: 0.1rem solid #484848;
    border-radius: 1rem;
    outline: none;
}

input:hover {
    background-color: #161616;
}

input:focus {
    background-color: #191919;
}

input::placeholder {
    opacity: 0.4;
    text-align: center;
}

p {
    font: 16px 'Euclid Circular A Semibold';
    color: #e6e6e6;
    user-select: none;
}

a {
    font: 18px 'Euclid Circular A Bold';
    color: #e6e6e6;
    margin: 0.5rem 0.8rem 0.5rem 0.8rem;
    user-select: none;
}

a:hover {
    color: #fff;
}

.main-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #141414;
}

.header-container {
    position: relative;
    display: flex;
    padding: 0 15vw 0 15vw;
    border-bottom: 0.1rem solid #242424;
}

.search-container_field {
    position: relative;
    flex-grow: 1;
    margin: 4vh 3vw 4vh 5vw;
}

.profile-container {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    border-radius: 50%;
    background-color: #222222;
}

.profile-container:hover {
    background-color: #242424;
}

.profile-container:active {
    background-color: #282828;
}

.content-container_main {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.items-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    padding: 3.2vh 1.4vw 3.2vw 1.4vw;
}

.items-container_cell {
    position: relative;
    display: flex;
    flex-direction: column;
    flex:0 0 15%;
    height: 30rem;  
    margin: 0.5rem 1rem 0.5rem 1rem;
    background-color: #161616;
    border-radius: 0.6vw;
    border: 0.1rem solid #202020;
}

.items-container_cell:hover {
    background-color: #191919;
    border: 0.1rem solid #242424;
}

.items-container_cell_photo {
    width: 97.1%;
    height: 78%;
    margin: 0.3rem;
    background-color: #181818;
    object-fit: cover;
    border-radius: 0.5vw;
    border: 0.1rem solid #242424;
}

.items-container_cell_title {
    width: 25rem;
    margin: 0.5em 0 0.5rem 1rem;
    user-select: none;
}

.item-cell_title {
    text-align: center;
    font: 16px 'Euclid Circular A Semibold';
    color: #c6c6c6;
}

.items-container_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 2rem;
    color: #ffffff;
    user-select: none;
}

.item-cell_price {
    margin-left: 1rem;
}

.item-modal_canvas {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 40rem;
    top: 50%;
    left: 50%;
    margin: -20rem 0 0 -30vw;
    background-color: #181818;
    border-radius: 0.5vw;
}

.item-modal_photo {
    position: relative;
    width: 25vw;
    margin: 1rem;
    background-color: #202020;
    object-fit: cover;
    border-radius: 0.5vw;
    border: 0.1rem solid #282828;
}

.item-modal_main {
    position: relative;
    display: flex;
    flex-direction: column;
}

.item-modal_title {
    position: relative;
    margin: 1rem 2rem 1rem 1rem;
    font: 36px 'Euclid Circular A Bold';
    color: #e6e6e6;
}

.item-modal_details {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 1rem;
}

.item-modal_stock {
    font-size: 24px;
}

.item-modal_price {
    font-size: 24px;
}

@media screen and (min-width: 120px) and (max-width: 1080px) {
    .side-container {
        display: none;
    }
}